body{
    font-family: 'Montserrat', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.backdrop{
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #d8d8d8;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.para{
    color: #000000;
    display: flex;
    text-align: justify;
    justify-items: left;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 1.75rem;
    margin-top: auto;
    font-size: 1.25rem;
}

.paraLast{
    color: #000000;
    display: flex;
    text-align: justify;
    justify-items: left;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.25rem;
}