.preview{
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 8.5 / 11;
    height: auto;
    position: relative;
}

.viewer{
    width: 80%;
    height: 85%;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    
}