.row p, .row img{
    display: inline-block;
    vertical-align: middle;
}

.center {
    display: flex;
    align-items: center;
    justify-items: center;
}

.shift{
    margin: 0;
    padding: 0;
}

.above-space{
    margin-top: 2rem;
    align-items: center;
}

.image{
    padding: 0rem;
}

.image-title-left{
    font-weight: bold;
}

.image-title-right{
    font-weight: bold;
    text-align: right;
}