body {
    background-color: black;
    color: white;
    
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.col1 h1 {
    color: orange;
}

.col2 {
    text-align: center;
    display: flex;
}

.col2 h1{
    color: orange;
}