body {
    background: linear-gradient(75deg, #3300CC, #330033);
    color: #FFFFFF;
}

.card{
    background: linear-gradient(75deg, #3300CC, #330033);
    color: #FFFFFF;
    border: 0;

}

.header{
    size: 150;
}